node_modules/
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/capacitor-cordova-android-plugins/
# NUNCA commitar a chave de assinatura:
aventura-release.jks
android/keystore.properties
*.jks
*.keystore
.DS_Store
